# Default ignored files
/shelf/
/workspace.xml
/HermitCraft_Tracker.iml
/highlightedFiles.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
